# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=customer.account.events.v1
KAFKA_GROUP_ID=customer-account-test-group

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=customerdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# API
API_BASE_URL=http://localhost:8080
API_METRICS_ENDPOINT=/api/metrics
